.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

.profile_details_left{
	margin-left: 28em;
}

.container { 
    overflow: hidden; }

.floatLeft { 
    width: 45%; float: left; }

.floatRight {
    width: 45%; float: right; }

#div1 { background: #DDD; }

#div2 { background: #AAA; }
