
    
<div class = "topnav">
    <input type="text" placeholder="Search..">
</div>
  
<div class = "container">

<!--Tables-->
<div id="div1">

<!--Funders-->
<h2>Funder Information</h2>
    <table class="ui compact celled definition table" >
        <thead>
            <tr> 
                <th>Organization Name</th>
                <th>Sector of operation</th>
                <th>Type of Organization</th>
                <th>Contact numbers</th>
                <th>Email Address</th>
                <th>Website</th>
                <th></th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>Bank Of Uganda</td>
                <td>Banking</td>
                <td>Government</td>
                <td>‎+256-414-258-441/6</td>
                <td>info@bou.or.ug</td>
                <td>www.bou.or.ug</td>
            </tr>
        </tbody>
        
        <tfoot>
            <tr>
                <th colspan="4">
                    <button class="ui right floated small primary labeled icon button" routerLink="../Funders">
                        View Funders
                    </button> 
                </th>
            </tr>
        </tfoot>
    </table>
</div>

<!--SMEs-->
<div id="div2">
    <h2>SMEs Information</h2>
        <table class="ui compact celled definition table" >
            <thead>
                <tr> 
                    <th>Business Name</th>
                    <th>Nature of Business</th>
                    <th>Registered Address</th>
                    <th>Country of Registration</th>
                    <th>Business Telephone</th>
                    <th>Business Email Address</th>
                    <th>Website</th>
                    <th>No. of employees</th>
                    <th>No. of jobs to be created</th>
                    <th>Name of business bank(s)</th>
                    <th>No. of Shareholders</th>
                    <th>No. of Directors</th>
                    <th>Proof of legal Registration</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>Grofin produce</td>
                    <td>Agricultural</td>
                    <td>Buikwe, Wananda</td>
                    <td>Uganda</td>
                    <td>+256701783555</td>
                    <td>grofin@gmail.com</td>
                    <td>www.Grofin.com</td>
                    <td>13</td>
                    <td>7</td>
                    <td>Barclays</td>
                    <td>4</td>
                    <td>5</td>
                    <td><button>Upload</button></td>
                </tr>
            </tbody>
        
        <tfoot class="full-width">
            <tr>
                <th colspan="4">
                    <button class="ui right floated small primary labeled icon button" routerLink="../Smes">
                    <i class="user icon"></i> View SMEs
                    </button>
                </th>
            </tr>
        </tfoot>
    </table>
  </div>          
</div>