$primary-color: rgba(0, 0, 0, 0.9);
$radius: 4px;
$color: #fafafa;
$color1: #1976d2;
$color2: white;
$color3: #80bdff;
$height: 10px;
$height1: 100%;
$width: 10px;
$width1: 100%;
$width2: 60%;
$margin: 2px;
$padding: 2px;
$padding1: 0.25rem;
$border: none;
$border1: 1px solid #eee;
$font-weight: 20;
$text-decoration: none;
$darkslategrey: #2f4f4f;
$font-size: 0.875rem;
$line-height: 1.5;
$border-radius1: 0.2rem;

h1, h2 {
  font-family: "Times New Roman", Times, serif;
}
.card {
		border-radius: $radius;
		border: $border1;
		background-color: $darkslategrey;
		height: $height * 4;
		width: $width * 20;
		margin: $margin * 0 $margin*4 $margin*8;
		padding: $padding * 8;
		display: flex;
    display: flexbox;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		line-height: $height * 2.4;
	}
	
  .card.card-small {
    height: $height * 1.6;
    width: $width * 30;
    color: $color2;
  }
  .card {
    cursor: pointer;
  }
  .card:hover {
  	box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
  .card {
    font-weight: $font-weight*30;
    border: $border;
    position: relative;
    margin-top: $margin * 10;
  }
  a, a:hover {
  	text-decoration: none;
  }

  .form {
  margin-bottom: 1rem;
}

  .control {
  display: block;
  width: $width1 * .95;
  height: calc(1.8125rem + 2px);
  padding: $padding1 $padding1 * 2;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius1;
  color: $color2;
  background-color: transparent;
  border: 1px solid #ced4da;
  
}
hr {
  width: $width * 32;
}

.control:focus {
  color: $color2;
  background-color: transparent;
  border-color: $color3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

  #login {
  	border-radius: $radius;
		border: $border1;
		height: $height * 4;
		width: $width1;
		margin-top: $margin * 10;
		padding: $padding * 8;
		line-height: $height * 2.4;
		cursor: pointer;
		background-color: $color1;
    color: $color2;
    border: $border;
    font-weight: $font-weight * 20;    
        
        
  }

  #login {
  	transform: translate(3px);
  	box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  form {
  	width: $width2;
  	border-radius: $radius * 1.25;
  	margin-left: $margin * 0;
	  padding: $padding * 8;
  	position: relative;
  }
.main{
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: $primary-color;
}

  
#left {
	color: $color2;
	width: $width1 * 0.4;
	height: height1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
#right {
	background-color: $darkslategrey;
	width: $width1 * 0.6;
  height: 100%;
  color: $color2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

}

.signin, #footer, #login, #right, #left .user {
    display: flex;
    display:flexbox;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.spacer {
	height: $height * 5;
}