<div class="main d-flex p-2 bd-highlight">
<div id="left">
	<div class="spacer"></div>
	<div class="signin">
		<div class="user">
			<h1>SME Connect</h1>
			<h2>Welcome Applicant</h2>
		</div>
		<form>
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" id="username" name="username" class="form-control">
			</div>
			<div class="form-group">
				<label for="Password">Password</label>
				<input type="password" id="Password" class="form-control">
			</div>
			<button type="submit" id="login">Sign in</button>
		</form>
		<div>
			<a href="#">Forgot password?</a>
		</div>
		<div>
			<hr />
		</div>
		<a href="#">
			<span class="card card-small">Create an account</span>
		</a>
	</div>
	<footer id="footer">
		Copyright &copy; 2020 SME Connect LLC. All rights reserved.
		<div>
			<a href="#">Terms of Use</a> | 
			<a href="#">Privacy Policy</a>
	</div>
</footer>
	
</div>
<div id="right">
	<div class="banner"><h1>Transforming the world through <strong>Business.</strong></h1></div>
	<h2>Your number one business partner. </h2>
</div>
</div>
