<main>
    <div class="container">
        <div class="row">
            <div view-toggle class="form-container">
                <div class="col-md-4">
                    <h1>SME Connect</h1>
                    <div class="reg-nav">
                        <div class="card">
                            <a [routerLink]="['/user/sign-up']" class="stretched-link view-links" routerLinkActive="active">
                                <h2>
                                    <span class="step-text">About Business Owner</span>
                                    <span><i class="glyphicon glyphicon-ok-sign" style="color:green"></i>01</span>
                                </h2>
                            </a>
                        </div>
                        <div class="card">
                            <a [routerLink]="['/user/sign-up']" class="stretched-link view-links" routerLinkActive="active">
                                <h2>
                                    <span class="step-text">About Business</span>
                                    <span><i class="glyphicon glyphicon-ok-sign" style="color:green"></i>02</span>

                                </h2>
                            </a>
                        </div>
                        <div class="card">
                            <a [routerLink]="['/user/sign-up']" class="stretched-link view-links" routerLinkActive="active">
                                <h2>
                                    <span class="step-text">Credentials</span>
                                    <span><i class="glyphicon glyphicon-ok-sign" style="color:green"></i>03</span>

                                </h2>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Create Your Account</h2>
                    <hr>
                    <form [formGroup]="signUpForm" (ngSubmit)="saveUserInfo(signUpForm.value)" autocomplete="off"
                        novalidate>
                        <!-- SECTION 1 -->

                        <section class="view" id="owner-view">
                            <div class="inner">
                                <div class="wizard-header">
                                    <h3 class="heading">Personal Information</h3>
                                    <p>Please enter your infomation and proceed to the next step so we can build your
                                        account</p>
                                </div>
                                <div class="form-group">
                                    <label for="fullName">Full Name</label>
                                    <em>*</em>
                                    <em
                                        *ngIf="signUpForm.controls.fullName.touched && signUpForm.controls.fullName.invalid">Required</em>
                                    <input name="fullName" class="form-control" type="text"
                                        placeholder="Enter your Full Name here" formControlName="fullName" id="fullName"
                                        required />
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-7">
                                        <label for="physicalAddress">Physical Address</label>
                                        <em>*</em>
                                        <em
                                            *ngIf="signUpForm.controls.physicalAddress.touched && signUpForm.controls.physicalAddress.invalid">Required</em>
                                        <input name="physicalAddress" class="form-control" type="text"
                                            placeholder="Enter your Physical Address"
                                            formControlName="physicalAddress" id="physicalAddress" required />
                                    </div>
                                    <div class="form-group col-md-5">
                                        <label for="country">Country</label>
                                        <em>*</em>
                                        <em
                                            *ngIf="signUpForm.controls.country.touched && signUpForm.controls.country.invalid">Required</em>
                                        <select class="form-control" name="country" formControlName="country"
                                            id="country" required>
                                            <option value="">Select Country</option>
                                            <option value="Uganda">Uganda</option>
                                        </select>

                                    </div>
                                    <div class="form-group col-md-5">
                                        <label for="phone">Phone Number</label>
                                        <em>*</em>
                                        <em
                                            *ngIf="signUpForm.controls.phone.touched && signUpForm.controls.phone.invalid">Required</em>
                                        <!--<em *ngIf="signUpForm.controls.phone.errors.invalidPhone">Enter a valid Phone number</em>-->
                                        <input name="phone" class="form-control" type="tel"
                                            placeholder="Enter your phone number" formControlName="phone" id="phone"
                                            required />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    <!-- <em class="required" *ngIf="!signUpForm.controls.email?.errors.email">*</em>-->
                                    <em
                                        *ngIf="signUpForm.controls.email.touched && signUpForm.controls.email.invalid">Required</em>
                                    <!--<em *ngIf="signUpForm.controls.email?.errors.email">Enter Valid Email Address</em>-->
                                    <input name="email" class="form-control" type="email"
                                        placeholder="Enter your email address" formControlName="email" id="email"
                                        required />
                                </div>
                            </div>
                        </section>
                        <!-- SECTION 2 -->
                        <section class="view" id="business-view">
                            <div class="inner">
                                <div class="wizard-header">
                                    <h3 class="heading">Business Information</h3>
                                    <p>Please enter your infomation and proceed to the next step so we can build your
                                        account.</p>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label class="col-form-label" for="businessName">Business trading name</label>
                                        <em>*</em>
                                        <em
                                            *ngIf="signUpForm.controls.businessName.touched && signUpForm.controls.businessName.invalid">Required</em>
                                        <input class="form-control" name="businessName" type="text" placeholder="Corp"
                                            formControlName="businessName" id="businessName" required />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label class="col-form-label" for="businessNumber">Business Number</label>
                                        <em>*</em>
                                        <em
                                            *ngIf="signUpForm.controls.businessNumber.touched && signUpForm.controls.businessNumber.invalid">Required</em>
                                        <input class="form-control" name="businessNumber" type="text"
                                            placeholder="Business Number" formControlName="businessNumber"
                                            id="businessNumber" required />
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="dateOfReg">Date of Registration</label>
                                        <em>*</em>
                                        <em
                                            *ngIf="signUpForm.controls.dateOfReg.touched && signUpForm.controls.dateOfReg.invalid">Required</em>
                                        <input class="form-control" name="dateOfReg" type="date"
                                            formControlName="dateOfReg" id="dateOfReg" required />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="col-form-label" for="regAddress">Registered Address</label>
                                        <em>*</em>
                                        <em
                                            *ngIf="signUpForm.controls.regAddress.touched && signUpForm.controls.regAddress.invalid">Required</em>
                                        <input class="form-control" name="regAddress" type="text"
                                            placeholder="City/Street" formControlName="regAddress" id="regAddress"
                                            required />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group  col-md-12">
                                        <label class="col-form-label" for="businessTel">Business Telephone
                                            Number</label>
                                        <em>*</em>
                                        <em
                                            *ngIf="signUpForm.controls.businessTel.touched && signUpForm.controls.businessTel.invalid">Required</em>
                                        <input class="form-control" name="businessTel" type="tel"
                                            placeholder="Enter Business Telephone" formControlName="businessTel"
                                            id="businessTel" required />
                                    </div>
                                    <div class="form-group  col-md-12">
                                        <label class="col-form-label" for="businessEmail">Business Email Address</label>
                                        <!--<em *ngIf="!signUpForm.controls.businessEmail?.errors.email">*</em>-->
                                        <em
                                            *ngIf="signUpForm.controls.businessEmail.touched && signUpForm.controls.businessEmail.invalid">Required</em>
                                        <!--<em *ngIf="signUpForm.controls.businessEmail?.errors.email">Enter Valid Email Address</em>-->
                                        <input class="form-control" name="businessEmail" type="email"
                                            placeholder="Enter Business Email" formControlName="businessEmail"
                                            id="businessEmail" required />
                                    </div>
                                    <div class="form-group  col-md-12">
                                        <label class="col-form-label" for="website">Website</label>
                                        <em>*</em>
                                        <em
                                            *ngIf="signUpForm.controls.website.touched && signUpForm.controls.website.invalid">Required</em>
                                        <input class="form-control" name="website" type="url"
                                            placeholder="www.example.com" formControlName="website" id="website"
                                            required />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="col-form-label" for="businessNature">Nature of Business</label>
                                        <em>*</em>
                                        <em
                                            *ngIf="signUpForm.controls.businessNature.touched && signUpForm.controls.businessNature.invalid">Required</em>
                                        <!--<em *ngIf="signUpForm.controls.businessNature?.errors.maxLength">Description must be only 400 characters</em>-->
                                        <textarea class="form-control" name="businessNature" type="text" rows="3"
                                            placeholder="Business description" formControlName="businessNature"
                                            id="businessNature" required></textarea>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- SECTION 3 -->
                        <section class="view" id="cred-view">
                            <div class="inner">
                                <div class="wizard-header">
                                    <h3 class="heading">Credentials</h3>
                                    <p>Almost there! Please set your Account Password</p>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label class="col-form-label" for="newPassword">New Password</label>
                                        <em>*</em>
                                        <em
                                            *ngIf="signUpForm.controls.newPassword.touched && signUpForm.controls.newPassword.invalid">Required</em>
                                        <!--<em *ngIf="signUpForm.controls.businessNature?.errors.maxLength">Description must be only 400 characters</em>-->
                                        <input class="form-control" name="newPassword" type="password"
                                            placeholder="New Password" formControlName="newPassword" id="newPassword"
                                            required />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="col-form-label" for="confirmPassword">Confirm Password</label>
                                        <em>*</em>
                                        <em
                                            *ngIf="signUpForm.controls.confirmPassword.touched && signUpForm.controls.confirmPassword.invalid">Required</em>
                                        <!--<em *ngIf="signUpForm.controls.businessNature?.errors.maxLength">Description must be only 400 characters</em>-->
                                        <input class="form-control" name="confirmPassword" type="password"
                                            placeholder="Confirm Password" formControlName="confirmPassword"
                                            id="confirmPassword" required />
                                    </div>
                                </div>
                            </div>
                        </section>
                        <span style="float:right" (mouseenter)="mouseOver=true" (mouseleave)="mouseOver=false">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary"
                                    [disabled]="signUpForm.invalid">Submit</button>
                                <button (click)="cancel()" class="btn btn-warning">Cancel</button>
                            </div>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>