<h1> Small to Medium Enterprises (SMEs) </h1>

<h2>Personal Information</h2>
<table class="ui compact celled definition table" >
        <thead>
            <tr> 
                <th>Business Name</th>
                <th>Name of owner</th>
                <th>Gender</th>
                <th>Physical Address</th>
                <th>Country</th>
                <th>Contact number</th>
                <th>Email Address</th>
                <th></th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>Grofin Produce</td>
                <td>Wananda Julius</td>
                <td>Male</td>
                <td>Buikwe district</td>
                <td>Uganda</td>
                <td>+256787644336</td>
                <td>wanandaj@gmail.com</td>
            </tr>
        </tbody>
        
        <tfoot>
            <tr>
                <th colspan="4">
                    
                </th>
            </tr>
        </tfoot>
    </table>

    <h2>Company Information</h2>
    <table class="ui compact celled definition table" >
        <thead>
            <tr> 
                <th>Business Name</th>
                <th>Nature of Business</th>
                <th>Registered Address</th>
                <th>Country of Registration</th>
                <th>Business Telephone</th>
                <th>Business Email Address</th>
                <th>Website</th>
                <th>No. of employees</th>
                <th>No. of jobs to be created</th>
                <th>Name of business bank(s)</th>
                <th>No. of Shareholders</th>
                <th>No. of Directors</th>
                <th>Proof of legal Registration</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>Grofin produce</td>
                <td>Agricultural</td>
                <td>Buikwe, Wananda</td>
                <td>Uganda</td>
                <td>+256701783555</td>
                <td>grofin@gmail.com</td>
                <td>www.Grofin.com</td>
                <td>13</td>
                <td>7</td>
                <td>Barclays</td>
                <td>4</td>
                <td>5</td>
                <td><button>Upload</button></td>
            </tr>
        </tbody>
        
        <tfoot>
            <tr>
                <th colspan="4">
                    
                </th>
            </tr>
        </tfoot>
    </table>

    <h2>Required Financials</h2>
    <table class="ui compact celled definition table" >
        <thead>
            <tr> 
                <th>Business Name</th>
                <th>Loan Amount</th>
                <th>Use of Finances</th>
                <th>Borrower Contribution</th>
                <th>Current business debt</th>
                <th>Debt Lender</th>
                <th>% Interest of debt</th>
                <th>Security provided</th>
                <th>Late payment?</th>
                <th>Corporate Guarantors</th>
                <th>Applied elsewhere?</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>Grofin produce</td>
                <td>5,000,000</td>
                <td>Buy fertilisers</td>
                <td>500,000</td>
                <td>3,000,000</td>
                <td>Banana Finance Solutions</td>
                <td>15%</td>
                <td>Land</td>
                <td>Yes</td>
                <td>-</td>
                <td>No</td>
            </tr>
        </tbody>
        
        <tfoot>
            <tr>
                <th colspan="4">
                    
                </th>
            </tr>
        </tfoot>
    </table>