<!--Funders-->
<h1> Funders </h1>

<h2>Funder Information</h2>
<table class="ui compact celled definition table" >
        <thead>
            <tr> 
                <th>Organization Name</th>
                <th>Sector of operation</th>
                <th>Type of Organization</th>
                <th>Contact numbers</th>
                <th>Email Address</th>
                <th>Website</th>
                <th></th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>Bank Of Uganda</td>
                <td>Banking</td>
                <td>Government</td>
                <td>‎+256-414-258-441/6</td>
                <td>info@bou.or.ug</td>
                <td>www.bou.or.ug</td>
            </tr>
        </tbody>
        
        <tfoot>
            <tr>
                <th colspan="4">
                    
                </th>
            </tr>
        </tfoot>
    </table>

    <h2>Funding details</h2>
<table class="ui compact celled definition table" >
        <thead>
            <tr> 
                <th>Type of financing</th>
                <th>Primary Funding agencies</th>
                <th>Terms and Conditions</th>
                <th>Purpose for financing</th>
                <th>Geographical preference</th>
                <th>Funding ceiling</th>
                <th>Fund startups or ongoing?</th>
                <th>Eligibility criteria of SME</th>
                <th>Deadline of Application</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>Grant</td>
                <td>World Bank</td>
                <td>...........</td>
                <td>‎Research project</td>
                <td>Kenya</td>
                <td>$ 50,000</td>
                <td>Ongoing</td>
                <td>.......</td>
                <td>10th December, 2020</td>
            </tr>
        </tbody>
        
        <tfoot>
            <tr>
                <th colspan="4">
                    
                </th>
            </tr>
        </tfoot>
    </table>