<style>
	.about, .funding {
      border-radius: 5px;
      padding: 20px;
      transform: translateY(0.25rem);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
    }
    .spacer {
      margin-top: 40px;
    }
    div h1 {
      background-color: blue;
      padding: 20px;
    }
    h3 {
      font-size: 30px;
    }
    .row {
      margin: 2rem 0;
    }
    .row div {
        padding: .375rem .75rem;
      }
      .options {
        margin: 0 10px;
      }
      .btn {
        transform: translateY(-0.1rem);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
      }
      .david {
        background-color: #edf5e1;
      }
      .name {
        font-weight: bold;
      }
      .about {
        background-color: #ececec;
      }
</style>
<div class="spacer"></div>
<div class="container">
<div><h1>Your Account</h1></div>
<div class="spacer"></div>
<div><h2>Profile</h2></div>
<div class="spacer"></div>
<div>
  
</div>
<div class="about">
  <div class="row">
    <div class="col ">
      <h3>About Funder</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6 name">Company Name</div>
    <div class="col-6 david">David</div>
  </div>
  <div class="row">
    <div class="col-6 name">CEO</div>
    <div class="col-6 david">Monica Deborah</div>
  </div>
  <div class="row">
    <div class="col-6 name">Operator</div>
    <div class="col-6 david">David</div>
  </div>
  <div class="row">
    <div class="col-6 name">Company Name</div>
    <div class="col-6 david">David</div>
  </div>
  <div class="row">
    <div class="col-6 name">Company Name</div>
    <div class="col-6 david">David</div>
  </div>
  <div class="row">
    <div class="col-6 name">Password</div>
    <div class="col-3">David</div>
    <button class="btn btn-default">Change</button>
  </div>
</div>
<div class="spacer"></div>
<div>
  <h3>Funding Details</h3>
</div>
<div class="funding">
  <div class="row">
    <div class="col-6 ">Company Name:</div>
    <div class="col-6">David</div>
  </div>
  <div class="row">
    <div class="col-6">CEO:</div>
    <div class="col-6">Monica Deborah</div>
  </div>
  <div class="row">
    <div class="col-6">Operator:</div>
    <div class="col-6">David</div>
  </div>
  <div class="row">
    <div class="col-6">Company Name:</div>
    <div class="col-6">David</div>
  </div>
  <div class="row">
    <div class="col-6">Company Name:</div>
    <div class="col-6">David</div>
  </div>
</div>
</div>