<div style="margin-top: 50px;">
  <h4>About Funder</h4>
</div>
<hr>
<div class="row">
  <div class="col">
    <span>Organization Name</span>
  </div>
  <div class="col">
    <span></span>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Sector of operation</span>
  </div>
  <div class="col">
    <span></span>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Type of Organization</span>
  </div>
  <div class="col">
    <span></span>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Contact numbers</span>
  </div>
  <div class="col">
    <span></span>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Email</span>
  </div>
  <div class="col">
    <span></span>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Website</span>
  </div>
  <div class="col">
    <span></span>
  </div>
</div>
<div style="margin-top: 50px;">
  <h4>Funding Details</h4>
</div>
<hr>
<div class="row">
  <div class="col">
    <span>Type of financing</span>
  </div>
  <div class="col">
    <span></span>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Primary Funding agencies</span>
  </div>
  <div class="col">
    <span></span>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Terms and conditions</span>
  </div>
  <div class="col">
    <span></span>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Purpose for financing</span>
  </div>
  <div class="col">
    <span></span>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Geographical preference</span>
  </div>
  <div class="col">
    <span></span>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Funding ceiling</span>
  </div>
  <div class="col">
    <span></span>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Fund startups or ongoing</span>
  </div>
  <div class="col">
    <span></span>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Eligibility criteria of SME</span>
  </div>
  <div class="col">
    <span></span>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Deadline of Application</span>
  </div>
  <div class="col">
    <span></span>
  </div>
</div>
<div style="margin-top: 50px;">
  <h4>Password</h4>
</div>
<hr>
<form style="margin-bottom: 50px;">
  <div class="row">
    <label class="col-6">Current Password</label>
    <input type="" name="" class="col-3">
  </div>
  <div class="row">
    <label class="col-6">New Password</label>
    <input type="" name="" class="col-3">
  </div>
  <div class="row">
    <label class="col-6">Confirm Password</label>
    <input type="" name="" class="col-3">
  </div>
  <div class="row">
    <div class="col-6"></div>
    <button class="btn btn-primary col-3">Confirm</button>
    <div class="col-3"></div>
  </div>
</form>